CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7620=y
CONFIG_TARGET_ramips_mt7620_DEVICE_youku_yk-l1=y
CONFIG_DEVEL=y
CONFIG_BUSYBOX_CUSTOM=y
CONFIG_BUSYBOX_CONFIG_ARP=y
CONFIG_BUSYBOX_CONFIG_BASE64=y
CONFIG_BUSYBOX_CONFIG_DIFF=y
CONFIG_BUSYBOX_CONFIG_ETHER_WAKE=y
CONFIG_BUSYBOX_CONFIG_FEATURE_CATN=y
CONFIG_BUSYBOX_CONFIG_FEATURE_CATV=y
CONFIG_BUSYBOX_CONFIG_FEATURE_CP_LONG_OPTIONS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_CP_REFLINK=y
CONFIG_BUSYBOX_CONFIG_FEATURE_DATE_COMPAT=y
CONFIG_BUSYBOX_CONFIG_FEATURE_DATE_NANO=y
CONFIG_BUSYBOX_CONFIG_FEATURE_DIFF_DIR=y
CONFIG_BUSYBOX_CONFIG_FEATURE_DIFF_LONG_OPTIONS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_PREFER_IPV4_ADDRESS=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SORT_OPTIMIZE_MEMORY=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SPLIT_FANCY=y
CONFIG_BUSYBOX_CONFIG_FEATURE_STAT_FILESYSTEM=y
CONFIG_BUSYBOX_CONFIG_FEATURE_STAT_FORMAT=y
CONFIG_BUSYBOX_CONFIG_FEATURE_VI_8BIT=y
CONFIG_BUSYBOX_CONFIG_FEATURE_VI_UNDO=y
CONFIG_BUSYBOX_CONFIG_FEATURE_VI_UNDO_QUEUE=y
CONFIG_BUSYBOX_CONFIG_FEATURE_VI_UNDO_QUEUE_MAX=32
CONFIG_BUSYBOX_CONFIG_HOSTNAME=y
CONFIG_BUSYBOX_CONFIG_NOHUP=y
CONFIG_BUSYBOX_CONFIG_OD=y
CONFIG_BUSYBOX_CONFIG_REALPATH=y
CONFIG_BUSYBOX_CONFIG_SHA512SUM=y
CONFIG_BUSYBOX_CONFIG_SPLIT=y
CONFIG_BUSYBOX_CONFIG_STAT=y
CONFIG_BUSYBOX_CONFIG_UUDECODE=y
CONFIG_BUSYBOX_CONFIG_XZ=y
CONFIG_CCACHE=y
CONFIG_DRIVER_11AC_SUPPORT=y
CONFIG_DROPBEAR_ZLIB=y
CONFIG_PACKAGE_adbyby=y
# CONFIG_PACKAGE_coremark is not set
# CONFIG_PACKAGE_coreutils is not set
# CONFIG_PACKAGE_ddns-scripts is not set
# CONFIG_PACKAGE_ddns-scripts_aliyun is not set
# CONFIG_PACKAGE_ddns-scripts_dnspod is not set
# CONFIG_PACKAGE_dns2tcp is not set
CONFIG_PACKAGE_dnsmasq_full_auth=y
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y
CONFIG_PACKAGE_dnsmasq_full_dnssec=y
# CONFIG_PACKAGE_dnsmasq_full_tftp is not set
CONFIG_PACKAGE_hplip-common=y
CONFIG_PACKAGE_hplip-sane=y
CONFIG_PACKAGE_htop=y
# CONFIG_PACKAGE_ip-full is not set
CONFIG_PACKAGE_iputils-arping=y
CONFIG_PACKAGE_jq=y
CONFIG_PACKAGE_kmod-crypto-lib-chacha20=y
CONFIG_PACKAGE_kmod-crypto-lib-chacha20poly1305=y
CONFIG_PACKAGE_kmod-crypto-lib-curve25519=y
CONFIG_PACKAGE_kmod-crypto-lib-poly1305=y
# CONFIG_PACKAGE_kmod-gpio-button-hotplug is not set
# CONFIG_PACKAGE_kmod-mmc is not set
CONFIG_PACKAGE_kmod-mt76-core=y
CONFIG_PACKAGE_kmod-mt76x02-common=y
CONFIG_PACKAGE_kmod-mt76x2=y
CONFIG_PACKAGE_kmod-mt76x2-common=y
# CONFIG_PACKAGE_kmod-sdhci-mt7620 is not set
CONFIG_PACKAGE_kmod-shortcut-fe=y
CONFIG_PACKAGE_kmod-shortcut-fe-cm=y
CONFIG_PACKAGE_kmod-udptunnel4=y
CONFIG_PACKAGE_kmod-udptunnel6=y
# CONFIG_PACKAGE_kmod-usb-ledtrig-usbport is not set
# CONFIG_PACKAGE_kmod-usb-ohci is not set
CONFIG_PACKAGE_kmod-usb-printer=y
# CONFIG_PACKAGE_kmod-usb2 is not set
CONFIG_PACKAGE_kmod-wireguard=y
# CONFIG_PACKAGE_libbpf is not set
# CONFIG_PACKAGE_libelf is not set
# CONFIG_PACKAGE_libev is not set
CONFIG_PACKAGE_libgmp=y
CONFIG_PACKAGE_libgphoto2=y
CONFIG_PACKAGE_libjpeg-turbo=y
CONFIG_PACKAGE_libltdl=y
CONFIG_PACKAGE_libncurses=y
CONFIG_PACKAGE_libnettle=y
# CONFIG_PACKAGE_libpcre is not set
CONFIG_PACKAGE_libpng=y
CONFIG_PACKAGE_libsane=y
# CONFIG_PACKAGE_libsodium is not set
CONFIG_PACKAGE_libstdcpp=y
CONFIG_PACKAGE_libtiff=y
# CONFIG_PACKAGE_libudns is not set
CONFIG_PACKAGE_libusb-1.0=y
CONFIG_PACKAGE_libusb-compat=y
# CONFIG_PACKAGE_libustream-openssl is not set
CONFIG_PACKAGE_libv4l=y
# CONFIG_PACKAGE_lua-neturl is not set
CONFIG_PACKAGE_luci-app-control-timewol=y
CONFIG_PACKAGE_luci-app-control-webrestriction=y
# CONFIG_PACKAGE_luci-app-ddns is not set
CONFIG_PACKAGE_luci-app-p910nd=y
CONFIG_PACKAGE_luci-app-polipo=y
CONFIG_PACKAGE_luci-app-serverchan=y
CONFIG_PACKAGE_luci-app-smartdns=y
# CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_ShadowsocksR_Libev_Client is not set
CONFIG_PACKAGE_luci-app-tinyproxy=y
CONFIG_PACKAGE_luci-app-usb-printer=y
CONFIG_PACKAGE_luci-app-wireguard=y
# CONFIG_PACKAGE_luci-app-wol is not set
CONFIG_PACKAGE_luci-i18n-control-timewol-zh-cn=y
CONFIG_PACKAGE_luci-i18n-control-webrestriction-zh-cn=y
CONFIG_PACKAGE_luci-i18n-p910nd-zh-cn=y
CONFIG_PACKAGE_luci-i18n-polipo-zh-cn=y
CONFIG_PACKAGE_luci-i18n-smartdns-zh-cn=y
CONFIG_PACKAGE_luci-i18n-tinyproxy-zh-cn=y
CONFIG_PACKAGE_luci-i18n-usb-printer-zh-cn=y
CONFIG_PACKAGE_luci-i18n-wireguard-zh-cn=y
CONFIG_PACKAGE_luci-proto-wireguard=y
CONFIG_PACKAGE_luci-theme-argon-mod=y
CONFIG_PACKAGE_ntpclient=y
# CONFIG_PACKAGE_openssl-util is not set
CONFIG_PACKAGE_p910nd=y
CONFIG_PACKAGE_polipo=y
CONFIG_PACKAGE_sane-abaton=y
CONFIG_PACKAGE_sane-agfafocus=y
CONFIG_PACKAGE_sane-apple=y
CONFIG_PACKAGE_sane-artec=y
CONFIG_PACKAGE_sane-artec_eplus48u=y
CONFIG_PACKAGE_sane-as6e=y
CONFIG_PACKAGE_sane-avision=y
CONFIG_PACKAGE_sane-backends=y
CONFIG_PACKAGE_sane-backends-all=y
CONFIG_PACKAGE_sane-bh=y
CONFIG_PACKAGE_sane-canon=y
CONFIG_PACKAGE_sane-canon630u=y
CONFIG_PACKAGE_sane-canon_dr=y
CONFIG_PACKAGE_sane-canon_lide70=y
CONFIG_PACKAGE_sane-cardscan=y
CONFIG_PACKAGE_sane-coolscan=y
CONFIG_PACKAGE_sane-coolscan2=y
CONFIG_PACKAGE_sane-coolscan3=y
CONFIG_PACKAGE_sane-daemon=y
CONFIG_PACKAGE_sane-dc210=y
CONFIG_PACKAGE_sane-dc240=y
CONFIG_PACKAGE_sane-dc25=y
CONFIG_PACKAGE_sane-dell1600n_net=y
CONFIG_PACKAGE_sane-dmc=y
CONFIG_PACKAGE_sane-epjitsu=y
CONFIG_PACKAGE_sane-epson=y
CONFIG_PACKAGE_sane-epson2=y
CONFIG_PACKAGE_sane-epsonds=y
CONFIG_PACKAGE_sane-frontends=y
CONFIG_PACKAGE_sane-fujitsu=y
CONFIG_PACKAGE_sane-genesys=y
CONFIG_PACKAGE_sane-gphoto2=y
CONFIG_PACKAGE_sane-gt68xx=y
CONFIG_PACKAGE_sane-hp=y
CONFIG_PACKAGE_sane-hp3500=y
CONFIG_PACKAGE_sane-hp3900=y
CONFIG_PACKAGE_sane-hp4200=y
CONFIG_PACKAGE_sane-hp5400=y
CONFIG_PACKAGE_sane-hp5590=y
CONFIG_PACKAGE_sane-hpljm1005=y
CONFIG_PACKAGE_sane-hs2p=y
CONFIG_PACKAGE_sane-ibm=y
CONFIG_PACKAGE_sane-kodak=y
CONFIG_PACKAGE_sane-kodakaio=y
CONFIG_PACKAGE_sane-kvs1025=y
CONFIG_PACKAGE_sane-kvs20xx=y
CONFIG_PACKAGE_sane-kvs40xx=y
CONFIG_PACKAGE_sane-leo=y
CONFIG_PACKAGE_sane-lexmark=y
CONFIG_PACKAGE_sane-ma1509=y
CONFIG_PACKAGE_sane-magicolor=y
CONFIG_PACKAGE_sane-matsushita=y
CONFIG_PACKAGE_sane-microtek=y
CONFIG_PACKAGE_sane-microtek2=y
CONFIG_PACKAGE_sane-mustek=y
CONFIG_PACKAGE_sane-mustek_usb=y
CONFIG_PACKAGE_sane-mustek_usb2=y
CONFIG_PACKAGE_sane-nec=y
CONFIG_PACKAGE_sane-net=y
CONFIG_PACKAGE_sane-niash=y
CONFIG_PACKAGE_sane-p5=y
CONFIG_PACKAGE_sane-pie=y
CONFIG_PACKAGE_sane-pieusb=y
CONFIG_PACKAGE_sane-pixma=y
CONFIG_PACKAGE_sane-plustek=y
CONFIG_PACKAGE_sane-plustek_pp=y
CONFIG_PACKAGE_sane-ricoh=y
CONFIG_PACKAGE_sane-ricoh2=y
CONFIG_PACKAGE_sane-rts8891=y
CONFIG_PACKAGE_sane-s9036=y
CONFIG_PACKAGE_sane-sceptre=y
CONFIG_PACKAGE_sane-sharp=y
CONFIG_PACKAGE_sane-sm3600=y
CONFIG_PACKAGE_sane-sm3840=y
CONFIG_PACKAGE_sane-snapscan=y
CONFIG_PACKAGE_sane-sp15c=y
CONFIG_PACKAGE_sane-st400=y
CONFIG_PACKAGE_sane-stv680=y
CONFIG_PACKAGE_sane-tamarack=y
CONFIG_PACKAGE_sane-teco1=y
CONFIG_PACKAGE_sane-teco2=y
CONFIG_PACKAGE_sane-teco3=y
CONFIG_PACKAGE_sane-test=y
CONFIG_PACKAGE_sane-u12=y
CONFIG_PACKAGE_sane-umax=y
CONFIG_PACKAGE_sane-umax1220u=y
CONFIG_PACKAGE_sane-umax_pp=y
CONFIG_PACKAGE_sane-v4l=y
CONFIG_PACKAGE_sane-xerox_mfp=y
CONFIG_PACKAGE_screen=y
# CONFIG_PACKAGE_shadowsocks-libev-ss-local is not set
# CONFIG_PACKAGE_shadowsocks-libev-ss-redir is not set
# CONFIG_PACKAGE_shadowsocksr-libev-ssr-check is not set
# CONFIG_PACKAGE_shadowsocksr-libev-ssr-local is not set
# CONFIG_PACKAGE_shadowsocksr-libev-ssr-redir is not set
# CONFIG_PACKAGE_simple-obfs-client is not set
CONFIG_PACKAGE_smartdns=y
# CONFIG_PACKAGE_tcping is not set
CONFIG_PACKAGE_terminfo=y
CONFIG_PACKAGE_tinyproxy=y
# CONFIG_PACKAGE_urandom-seed is not set
CONFIG_PACKAGE_vim-full=y
# CONFIG_PACKAGE_wget-ssl is not set
CONFIG_PACKAGE_wireguard-tools=y
# CONFIG_PACKAGE_wol is not set
CONFIG_PACKAGE_xinetd=y
CONFIG_PACKAGE_zoneinfo-asia=y
# CONFIG_LIBMBEDTLS_DEBUG_C is not set
# CONFIG_LIBMBEDTLS_HKDF_C is not set
CONFIG_PACKAGE_getrandom=y
# CONFIG_PACKAGE_kmod-crypto-kpp is not set
CONFIG_PACKAGE_libmbedtls=y
CONFIG_PACKAGE_resolveip=y
